# sort this file using:
# cut -f 1 .gitignore | sort -f | uniq > .gitignore
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.cpt
*.DS_Store
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.pyg
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdy
